
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: auto;
  }
  
  *:not(.visibleScrollbar)::-webkit-scrollbar {
    display: none;
  }
  body {
    margin: 0;
    max-width: 100vw;
    height: 100vh;
    background-color: #f4f5f6;
    position: 'relative';
    overflow: auto;
  }
  
  .mobileNav {
    @media screen and (min-width: 480px) {
      display: none;
    }
  }
  .desktopNav {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  @keyframes bounceUpDown {
    0%  {
      transform: translateY(-3px);
      
    }
  
    100% {
      transform: translateY(0px);
      ;
    }
  }
  @keyframes pulse-animation {
    0% {
      box-shadow: var(--start-box-shadow, 0 0 0 0px rgba(90, 85, 85, 0.2));
    }
    100% {
      box-shadow: var(--end-box-shadow, 0 0 0 8px rgba(59, 59, 59, 0));
    }
  }
  /* lg: height <= 930 && height >= 869 ? 10 : height <= 868 ? 0 : 55 -- height based media query */
  .dynamicSignupImageTop {
    top: 55px; /* default */
  }
  
  @media screen and (max-height: 930px) and (min-height: 869px) {
    .dynamicSignupImageTop {
      top: 10px;
    }
  }
  
  @media screen and (max-height: 868px) {
    .dynamicSignupImageTop {
      top: 0px;
    }
  }
  
  @media screen and (max-width: 1280px) {
    .dynamicSignupImageTop {
      top: 10px;
      margin-top: 15px;
      margin-bottom: 25px;
    }
  }
  
  
  
  .dynamicCardImage {
    transform: scale(0.7);
    bottom: -60px;
  }
  
  @media screen and (max-height: 818px) {
    .dynamicCardImage {
      transform: scale(0.7);
      bottom: -100px;
    }
  }
  
  
  
  @keyframes tw_ping {
    75%,
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }
  @keyframes tw_pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
  .pulse {
    animation: var(--pulse-animation, pulse-animation 2s infinite);
  }
  .shake {
    animation: var(--shake-animate, shake-animation 4.72s ease infinite);
    transform-origin: 50% 50%;
  }
  .fadeInOut {
    animation: fadeInOut 2s infinite;
  }
  @keyframes float {
    0% {
      transform: translateY(var(--start-Y, 0));
    }
    50% {
      transform: translateY(var(--end-Y, 10px));
    }
    100% {
      transform: translateY(var(--start-Y, 0));
    }
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  @keyframes shake-animation {
    0% {
      transform: translate(0, 0);
    }
    1.78571% {
      transform: translate(5px, 0);
    }
    3.57143% {
      transform: translate(0, 0);
    }
    5.35714% {
      transform: translate(5px, 0);
    }
    7.14286% {
      transform: translate(0, 0);
    }
    8.92857% {
      transform: translate(5px, 0);
    }
    10.71429% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .cardDots {
    @media screen and (min-width: 0px) {
      margin-right: 40px;
    }
    @media screen and (min-width: 550px) {
      margin-right: 0px;
    }
  }
  .singleCard {
    width: min-content;
    @media screen and (min-width: 0px) {
      /* align-items: center; */
  
      width: 100%;
    }
  
    @media screen and (min-width: 550px) {
      align-items: unset;
      width: 46%;
    }
    @media screen and (min-width: 720px) {
      align-items: unset;
      width: 30%;
    }
  }
  
  .cardsContainer {
    display: flex;
    @media screen and (min-width: 0px) {
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: 550px) {
      flex-direction: row;
    }
  }
  
  .display-card-ccv {
    color: #da2f16;
  }
  /* Handles hover on Marqeta cards  */
  .default-card {
    display: none;
  }
  
  .parent:hover .default-card {
    display: block;
  }
  
  /* EMBLA CSS */
  
  .embla {
    max-width: 48rem;
  
    margin: auto;
    --slide-height: '100%';
    --slide-spacing: 24px;
    --slide-size: 50%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-width);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
  }
  .embla__controls {
    /* display: grid; */
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }
  .embla__buttons {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }
  .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }
  
  /* Pagination */
  .pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: fit-content;
  }
  .item {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    height: 26px;
    justify-content: center;
    width: 26px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .active {
    /* border: solid 1px #ffab9f; */
    border-radius: 40px;
    background-color: #A62915;
    color: white;
  }
  
  .pagination {
    user-select: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: fit-content;
  }
  
  .pagination-page {
    font-weight: 700;
  }
  
  .previous {
    margin-right: 8px;
  }
  .next {
    margin-left: 8px;
  }
  